body {
    height: 100vh;
    width: 100%;
    background: url("https://www.iroamly.com/images/article/vietnam/vietnam-ancient-town-of-hoi-an.jpg") center/cover no-repeat;
}

.bg-payment{
    background-color: rgba(0, 0, 0, 0.5); /* đen trong suốt 50% */
    color: rgb(255, 255, 255);
    width: 50%;
    height: auto;
    padding: 10px 0 10px 20px;
    margin: 0 auto;
    border-radius: 20px;
    
}

.bg-payment .title{
    text-align: center;
    text-transform: uppercase;
}

.bg-payment p {
    font-size: x-large;
}

.btn {
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: monospace;
  font-weight: 300;
  text-transform: uppercase;
  outline: none;
  margin: 24px auto 12px;
  display: block;
  
}

/* bóng dưới */
.btn-shadow {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  transform: translateY(2px);
  transition: transform 0.6s cubic-bezier(0.3, 0.7, 0.4, 1);
}

/* viền nền */
.btn-border {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(217, 33%, 16%),
    hsl(217, 33%, 32%),
    hsl(217, 33%, 16%)
  );
}

/* nội dung nút */
.btn-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 12px 24px;
  font-size: 18px;
  color: white;
  border-radius: 12px;
  background: linear-gradient(
    to right,
    #219ef2,
    #407be9,
    #232d8a
  );
  transform: translateY(-4px);
  transition: 
    transform 0.6s cubic-bezier(0.3, 0.7, 0.4, 1),
    filter 0.3s;
}

/* icon */
.icon {
  width: 20px;
  height: 20px;
  transition: transform 0.25s;
}

/* hover */
.btn:hover .btn-shadow {
  transform: translateY(4px);
}

.btn:hover .btn-content {
  transform: translateY(-6px);
  filter: brightness(1.1);
}

.btn:hover .icon {
  transform: translateX(4px);
}

/* active */
.btn:active .btn-shadow {
  transform: translateY(1px);
}

.btn:active .btn-content {
  transform: translateY(-2px);
}

