@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    font-family: "Poppins", sans-serif;
}

body{
    padding: 0;
    margin: 0;
}


.menu-wrap{
    display: flex;
    background-color: #333;
}

.logo-col{
    text-align: center;
    flex: 1;
}

.logo{
    width: 35%;
}

.main-menu-mobi{
    display: none;
}

.main-menu,
.main-menu-mobi{
    margin-top: 25px;
    flex: 3;
}

.main-menu ul,
.main-menu-mobi ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.i-menu{
    margin-right: 30px;
    color: #fff;
    font-size: 20px;

}

.i-menu:hover{
    color: #ddd
}

.menu-togg{
    font-size: 20px;
    color: #fff;
    display: none;
    margin-left: 20px;
}


@media screen and (max-width: 860px) {
    .menu-wrap{
        display: block;
    }

    .main-menu-mobi{
        display: none;
        background-color: #a8a8a8;
        padding: 20px 0;
        width: 40%;
        margin: 0;
        height: 1000px; /*tam*/
        
    }
    .main-menu{
        display: none;
        
    }

    .main-menu-mobi ul{
        display: block;
    }

    .main-menu-mobi ul li{
        margin: 20px 0;
        padding-left: 0;
        color: #000;
    }

    .main-menu-mobi ul li:hover{
        margin: 20px 0;
        color: #6a6a6a;
        
    }  

    .logo-col{
        display: block;
    }

    .menu-togg{
        display: block;
    }
}