@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #f2f2f2;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 23;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
}

.navbar{
    display: flex;
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar input#menu-toggler{
    display: none;
}

.navbar #menu-btn{
    display: none;
    cursor: pointer;
}

.navbar .all-links{
    display: flex;
    align-items: center;
    flex: 2;
}

.navbar .all-links-mobi{
    display: none;
}

.navbar .all-links li{
    position: relative;
    list-style: none;
}
.navbar .logo{
    flex: 1;
}
.navbar .logo a{
    display: flex;
    align-items: center;
    margin-left: 0;
}

.navbar .logo a img{
    width: 35%;
    height: auto;
}

header a, footer a{
    margin-left: 40px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    height: 100%;
    padding:  0;
    display: inline-block;
}

header a:hover, footer a:hover {
    color: #ddd;
}
.all-links .more-navbar:hover .more{
    display: block;
}


.all-links .more{
    display: none;
    position: absolute;
    width: 180px;
    background: #333;
    top: 30px;
    left: 30px;
    padding: 20px;
    text-align: center;

}

.all-links .more a{
    margin: 5px 0;
}

.homepage{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("photo/ha-long-6762301_1280.jpg");
    background-position: center 5%;
    background-size: cover;
    background-attachment: fixed;
}

.homepage::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
}

.homepage .content{
    display: flex;
    height: 90%;
    z-index: 3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homepage .content h1{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}

.homepage .content .text {
    margin-bottom: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.content a{
    color: #000;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: .4s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    text-decoration: none;
}

.content a:hover {
    color: #fff;
    background: rgba(255,255,255,0.3);
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 140px 0 0;
}

section h2{
    font-size: 2rem;

}

section > p{
    text-align: center;
}

section .cards{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    padding: 0 10px;
    justify-content: space-between;
}

section .cards .card{
    background: #fff;
    padding: 40px 15px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
    margin-bottom: 40px;
    width: calc(100% /3 - 30px);
    text-align: center;
}

.services .card img{
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 100%;
    object-fit: cover;
}



.destination .cards .card {
    padding: 0 0 20px;
}

.destination .card img {
    width: 100%;
    padding-bottom: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 7px;
}


.cards .card p {
    padding: 0 15px;
    margin-top: 5px;
}
  
section.about {
    margin: 0 auto;
    max-width: 1200px;
}

.about .company-info{
    margin-top: 30px;
}

.about h3{
    margin: 30px 0 10px;
}

.about .team{
    text-align: left;
    width: 100%;
}

.about .team ul{
    padding-left: 20px;
}

.about .row{
    padding: 0 10px;
}

.contact .row {
    margin: 60px 0 90px;
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.contact .row .col {
    padding: 0 10px;
    width: calc(100%/2 - 50px);
}

.contact .col p{
    margin-bottom: 10px;
}

.contact .col p i{
    color: #7a7a7a;
    margin-right: 10px;
}

.contact form input{
    height: 45px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: 1px solid #bfbfbf;
}

.contact form textarea{
    padding: 10px;
    width: 100%;
    font-size: 16px;
    height: 150px;
    outline: none;
}

.contact form button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 17px;
    color: #fff;
    border: none;
    cursor: pointer;
    background: #333;
    border-radius: 5px;
    transition:  color 0.3s ease;

}

.contact form button:hover {
    background: #525252;
}

/* review */
.container{
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
}  

.flex{
    display: flex;
    align-items: center;
    column-gap: 0.6rem;
}



section.review{
    margin: 0 auto;
    max-width: 1200px;
}
.review .section-subtitle{
    text-align: center;
}
.review .section-title,
.review .section-description{
    color: #333;
    text-align: center;
}


.testi-content{
    position: relative;
    height: 100%;
    width: 100%;
    row-gap: 2rem;
    flex-direction: column;
}  

.testi-content i{
    font-weight: 700;
    color: #333;
    font-size: 38px;
}

.review-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 35px 0 10px;
}
.review-quote{
    padding: 0 15rem;
    text-align: center;
}
.quote-icon{
    font-size: 3rem;
}
.testi-personDetails{
    flex-direction: column;
}
.testi-personDetails .name{
    font-size: 1.8rem;
    
}  

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-slider{
    /* position: relative;
    height: 100vh;
    width: 100%; */
    display: none ; 
    align-items: center;
    justify-content: center;
    /* opacity: 1; */
    visibility: visible;
    flex: 0 0 100%;
    max-width: 100%;
}
.swiper-slider.active {
    display: flex;
}


.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    transition: transform 0.5s ease;
    
    
} 

.swiper-slider::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    opacity: 0;
}
  
  

/* swiper btn */


.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
}

.swiper-button-next {
    right: 20px;
}

.swiper-button-prev {
    left: 20px;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



@media screen and (max-width:860px) {
    .navbar .all-links{
        position: fixed;
        left: -100%;
        width: 300px;
        display: none;
        height: 120vh;
        top: 120px;
        background: #333;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .navbar .all-links-mobi{
        position: fixed;
        left: -100%;
        width: 300px;
        display: block;
        height: 120vh;
        top: 120px;
        background: #333;
        transition: left 0.3s ease;
        z-index: 1000;

    }

    .navbar #menu-toggler:checked~.all-links-mobi{
        left: 0;
    }

    .navbar .all-links-mobi li{
        font-size: 1.2rem;
        padding: 20px 35px 20px 0px;
        text-align: center;
    }

    .navbar #menu-btn{
        display: block;
    }

    
    

    section > p{
        text-align: center;
    }
    section .cards .card {
        width: calc(100% / 2 - 15px);
        margin-bottom: 30px;
      }
    .homepage .content h1 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .homepage .content .text {
        font-size: 17px;
    }
    .content a {
        font-size: 17px;
        padding: 9px 20px;
    }
    .contact .row {
        flex-direction: column;
    }
    .contact .row .col {
        width: 100%;
    }
    .contact .row .col:last-child {
        margin-top: 40px;
    }
    footer a {
        height: 0;
    }

    .section.review{
        padding: 7rem 1rem 3rem;
    }
    .review .swiper{
        padding-bottom: 6.5rem;
    }
    
    
    .review-quote{
      padding: 0 6rem;
    }

}

@media screen and (max-width: 560px) {
    section .cards .card {
      width: 100%;
      margin-bottom: 30px;
    }
  }

